.home-page {
  color: white;
  background: radial-gradient(ellipse 50% 4% at top, #343a40, #000000 100%);
  padding:0; 
}

.main-content {
  height: 85vh;
  background: radial-gradient(ellipse 45% 25% at bottom, #50575d, #000000 100%);
  padding: 2rem 4rem;
} 