.home-page {
  color: white;
  background: radial-gradient(ellipse 70% 10% at top, #343a40, #000000 100%);
  padding:0; 
}

.main-content {
  height: 70.3vh;
  background: radial-gradient(ellipse 50% 30% at bottom, #50575d, #000000 100%);
  padding: 2rem 4rem;
} 