.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: max-content;
  margin: 0 auto;
  border: none;
  padding: 1.5rem;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.company-name {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  letter-spacing: 0.5px;
  margin-right: 2.5rem;
}

.nav-links {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
  transition: color 0.3s ease;
  position: relative;
}

.nav-link:hover {
  color: rgb(94, 93, 93);
} 